.load-more {
  width: 90%;
  margin: 20px auto;
}

.list-container {
  text-align: center;
}

.list {
  padding-top: 0px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
